.metadata/.lock
.metadata/.log
.metadata/.mylyn/repositories.xml.zip
.metadata/.plugins/org.eclipse.core.resources/.history/2/6057438c252500161112d1f8b37545b3
.metadata/.plugins/org.eclipse.core.resources/.history/29/60e6408c252500161112d1f8b37545b3
.metadata/.plugins/org.eclipse.core.resources/.history/29/e143278c252500161112d1f8b37545b3
.metadata/.plugins/org.eclipse.core.resources/.history/37/f044236b252500161112d1f8b37545b3
.metadata/.plugins/org.eclipse.core.resources/.history/4/d18d298c252500161112d1f8b37545b3
.metadata/.plugins/org.eclipse.core.resources/.history/5d/3016306b252500161112d1f8b37545b3
.metadata/.plugins/org.eclipse.core.resources/.history/5e/d01d82a3252500161112d1f8b37545b3
.metadata/.plugins/org.eclipse.core.resources/.history/cb/20ef2f6b252500161112d1f8b37545b3
.metadata/.plugins/org.eclipse.core.resources/.history/d1/e08e256b252500161112d1f8b37545b3
.metadata/.plugins/org.eclipse.core.resources/.history/dd/d08d298c252500161112d1f8b37545b3
.metadata/.plugins/org.eclipse.core.resources/.history/f0/3087326b252500161112d1f8b37545b3
.metadata/.plugins/org.eclipse.core.resources/.history/f8/e043278c252500161112d1f8b37545b3
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/TestWebProject/.indexes/5b/a8/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/TestWebProject/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/TestWebProject/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/TestWebProject/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/TestWebProject/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/TestWebProject/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/0.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.jsp.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.web.core.prefs
.metadata/.plugins/org.eclipse.jdt.core/1115467115.index
.metadata/.plugins/org.eclipse.jdt.core/1299022128.index
.metadata/.plugins/org.eclipse.jdt.core/1498219845.index
.metadata/.plugins/org.eclipse.jdt.core/163172794.index
.metadata/.plugins/org.eclipse.jdt.core/1697886153.index
.metadata/.plugins/org.eclipse.jdt.core/1995173708.index
.metadata/.plugins/org.eclipse.jdt.core/2390481311.index
.metadata/.plugins/org.eclipse.jdt.core/305854171.index
.metadata/.plugins/org.eclipse.jdt.core/3065916431.index
.metadata/.plugins/org.eclipse.jdt.core/30765161.index
.metadata/.plugins/org.eclipse.jdt.core/3133528496.index
.metadata/.plugins/org.eclipse.jdt.core/3974580528.index
.metadata/.plugins/org.eclipse.jdt.core/4041092966.index
.metadata/.plugins/org.eclipse.jdt.core/4108727661.index
.metadata/.plugins/org.eclipse.jdt.core/4155206848.index
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jst.j2ee.web/webLibrariesCache.index
.metadata/.plugins/org.eclipse.jst.j2ee/earLibrariesCache.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2016/5/22/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2016/5/22/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/TestWebProject/2016/5/22/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/TestWebProject/2016/5/22/refactorings.index
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.5.1.20150109-1820.xml
.metadata/.plugins/org.eclipse.rse.core/.log
.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.nisi_15/FP.local.files_0/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.nisi_15/H.local_16/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.nisi_15/node.properties
.metadata/.plugins/org.eclipse.rse.ui/.log
.metadata/.plugins/org.eclipse.team.cvs.core/.running
.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/1033928251.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/1463407337.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/2208697471.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/2390481311.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/3657756046.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/4140775118.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/savedIndexNames.txt
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/baseBrowserLibrary.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/browserWindow.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/dom5.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/system.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/xhr.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.wst.jsdt.web.core/jssearch/3077160361.index
.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
.metadata/.plugins/org.eclipse.wst.xml.core/default_catalog.xml
.metadata/.plugins/org.eclipse.wst.xml.core/system_catalog.xml
.metadata/version.ini
